bin/Debug/netcoreapp2.2/aspnetcoreNewWeb.dll
bin/Debug/netcoreapp2.2/aspnetcoreNewWeb.pdb
obj/Debug/netcoreapp2.2/aspnetcoreNewWeb.dll
obj/Debug/netcoreapp2.2/aspnetcoreNewWeb.pdb
obj/Debug/netcoreapp2.2/aspnetcoreNewWeb.csproj.CoreCompileInputs.cache
bin/Debug/netcoreapp2.2/aspnetcoreNewWeb.dll
bin/Debug/netcoreapp2.2/aspnetcoreNewWeb.pdb
obj/Debug/netcoreapp2.2/aspnetcoreNewWeb.dll
obj/Debug/netcoreapp2.2/aspnetcoreNewWeb.pdb
obj/Debug/netcoreapp2.2/aspnetcoreNewWeb.csproj.CoreCompileInputs.cache
